@model CreateScienceDto

<div class="loginBox" style="margin :auto ; text-align : center ">
    <h3 style="color: blue ; margin :auto ; text-align : center ">Create School Here</h3>
    <form class="row g-3" style="width: 400px ; margin :auto ; text-align : center " asp-controller="Sciences" asp-action="CreateScience" asp-route-schoolId="@ViewBag.SchoolId" method="post" enctype="multipart/form-data">

        <div >
            <input name="Name" class="form-control" asp-for="Name"  type="text" placeholder="Name"/>
            <span class="text-danger" asp-validation-for="Name"> </span>
        </div>

        <div >
            <input name="Description" class="form-control" asp-for="Description"  type="text" placeholder="Description"/>
            <span class="text-danger" asp-validation-for="Description"> </span>
        </div>

        <button class="btn btn-primary form-control"  type="submit">Create Science</button>
    </form>
</div>