@model CreateUserDto
@{
    ViewData["Title"] = "Update User";
}

<div class="loginBox" style="margin :auto ; text-align : center ">
    <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" style="margin :auto ; text-align : center " height="100px" width="100px">
    <h3 style="color:yellow ; margin :auto ; text-align : center ">Sign In Here</h3>
    <form class="row g-3" style="width: 400px ; margin :auto ; text-align : center "
            asp-controller="Users" asp-action="UpdateUser" asp-route-id="@ViewBag.Id"  enctype="multipart/form-data" method="post">

        <div>
            <input name="FirstName" class="form-control" asp-for="FirstName" type="text" placeholder="FirstName" />
            <span class="text-danger" asp-validation-for="FirstName"> </span>
        </div>

        <div>
            <input name="UserName" class="form-control" asp-for="UserName" type="text" placeholder="UserName" />
            <span class="text-danger" asp-validation-for="UserName"> </span>
        </div>

        <div>
            <input name="Photo" class="form-control" asp-for="Photo" type="file" placeholder="Photo" />
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>

        <button class="form-control" type="submit">Update User</button>

    </form>

</div>
